.dateInput :global(.form-control:focus) {
  box-shadow: none;
}

.dateInput small {
  color: #ff4136;
}

.dateInputNotValid :global(.form-control) {
  border: 1px solid #ff4136;
}

.dateInputNotValid :global(.form-control:focus) {
  border-color: #ff4136;
}
