.textareaInput :global(.form-control:focus) {
  box-shadow: none;
}

.textareaInput small {
  color: #ff4136;
}

.textareaInputNotValid :global(.form-control) {
  border: 1px solid #ff4136;
}

.textareaInputNotValid :global(.form-control:focus) {
  border-color: #ff4136;
}
